<div class="page-loader" data-page-loader>
    <div class="loader-mark"></div>
</div>

<nav class="navbar navbar-expand-lg glass-nav fixed-top">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">CodeAlpha Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center gap-lg-2">
                <li class="nav-item">
                    <a class="nav-link <%= activePage === 'home' ? 'active' : '' %>" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#catalog">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cart-icon <%= activePage === 'cart' ? 'active' : '' %>" href="/cart"
                        id="cartToggle">
                        Cart <span class="badge rounded-pill bg-primary" id="cartCount">0</span>
                    </a>
                </li>
                <% if (currentUser) { %>
                    <li class="nav-item">
                        <span class="nav-link disabled">Hi, <%= currentUser.fullName.split(' ')[0] %></span>
                    </li>
                    <li class="nav-item">
                        <form action="/logout" method="POST" class="m-0">
                            <button type="submit" class="btn btn-outline-secondary btn-sm px-3">Logout</button>
                        </form>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link <%= activePage === 'login' ? 'active' : '' %>" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary btn-sm px-3" href="/register">Register</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
